@import "neon.css";
@import "index.css";

.clock-box {
    font-family: "dot";
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100px;
}


.js-clock {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    font-size: 100px;
    color: white;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 30px;
}