@import "reset.css";
@import "neon.css";
@import "clock.css";
@import "form.css";
@import "greetings.css";
@import "weather.css";
@import "list.css";
@import "anim.css";
@import "comet.css";

@font-face {
    src: url(../fonts/Square-Dot-Matrix.ttf);
    font-family: "dot";
}

@font-face {
    src: url(../fonts/BubbleBobble-rg3rx.ttf);
    font-family: "bubble";
}

@font-face {
    src: url(../fonts/WinterPrincess-EaZv4.ttf);
    font-family: "winter";
}


body::-webkit-scrollbar {
    display: none;
}

.form,
.greetings {
    display: none;
}

.showing {
    display: block;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

.bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
    top: 0;
    animation: fadeIn 0.5s linear;
    min-height: 100vh;
    overflow: hidden;
}

.music_on {
    font-family: "bubble";
    display: flex;
    align-items: center;
    color: #a29bfe;
    position:absolute;
    margin-left: 20px;
    top: 30px;
}
.music_on span{
    font-size: 30px;
    font-weight: 600;
}

.music_on i {
    font-size: 40px;
    margin-left: 10px;
    color: #a29bfe60;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.music_on i:hover {
    color: #a29bfe;
    animation: rotateZanim 0.5s linear infinite;
}

.music_click{
    animation: rotateZanim 0.5s linear infinite;
}

.DEL_BTN,
.BACK_BTN,
.FIN_BTN {
    cursor: pointer;
}

#splash-screen {
    background-image: url("../images/yourname.gif");
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 3;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation: hideSplashScreen 1s linear forwards;
    /* forwards 를 주게되면, 애니메이션의 마지막속성이 애니메이션이 끝나고도 유지 */
    animation-delay:2.5s ;
}

@keyframes hideSplashScreen {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        visibility: hidden;
    }
}

.app_box {
    width: 200px;
    position: absolute;
    top: 30px;
    right: 20px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.naver,
.google,
.youtube {
    width: 50px;
    height: 50px;
}

.naver:hover,
.google:hover,
.youtube:hover {
    animation: jello-horizontal 0.9s both;
}